:root {
    --bg-primary: #1D3248;
    --bg-secundary: #dddddd;
    --bg-footer: #13212F;
    --bg-buttons: #2C4C6E;
    --bg-cards: #FFFFFF;
    --bg-hover: #DE3C4B;

    --ct-black: #000000;
    --ct-primary: #1D3248;
    --ct-secundary: #F5F5F5;
    --ct-cards: #1C3146;

    --color-selection: #FFA630;

    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.6rem;
    font-family: 'Exo 2', sans-serif;

    background: var(--bg-secundary);
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secundary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--ct-primary);
    border-radius: 10px;
}

.page {
    width: 320px;
    margin: auto;
}

#hidden {
    display: none;
}

.hidden {
    display: none;
}

.sub-header-wrapper {
    display: grid;
    justify-content: end;
}

#sub-header {
    background: var(--bg-primary);
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.products-menu-link {
    text-decoration: none;
    padding: 11px 14px;
    color: var(--ct-secundary);

    font-weight: bold;

    border: 1px solid var(--ct-secundary);
    border-radius: 100px;
    transition: all 400ms ease-in-out;
}

header {
    background: var(--bg-primary);
    height: 7.5rem;

    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav img {
    height: 3rem;
}

.btn-hamburguer, .btn-close {
    background: var(--bg-primary);
    color: var(--bg-secundary);

    font-weight: normal;
    text-align: center;

    padding: 7.5px 12px;
    border: 0.5px solid var(--ct-secundary);
    border-radius: 100px;
}

.btn-close {
    background: var(--bg-secundary);
    border: 1.5px solid var(--bg-primary);
    color: var(--bg-primary);
    font-weight: 600;
}

.hamburguer-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.close-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.btn-products-menu {
    display: none;
}

.menu-desktop {
    display: none;
}

.menu {
    width: 100vw;
    height: 100vh;

    background: var(--bg-secundary);

    position: absolute;
    top: 130px;
    left: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;
    gap: 35px;

    padding-top: 3.5rem;
    text-align: center;
    margin: auto;

    animation: toLeft 670ms ease-in-out;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--ct-primary);

    margin-top: 3.5rem;

    font-weight: 600;
}

.menu-contact {
    height: 100%;
    background: var(--bg-primary);
    color: var(--ct-secundary);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 35px 0;
    border-bottom: 1px solid #17283a;
    border-radius: 10px 10px 0 0;
}

.menu-contact h1 {
    font-size: 1.6rem;
    font-weight: 600;

    padding-bottom: 3px;
}

.menu-contact p {
    padding-bottom: 30px;
    font-weight: normal;
}

.menu-contact a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;

    color: var(--ct-secundary);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card-offer a:hover {
    background-color: #1f354d;
}

.useful-contacts {
    min-height: 8rem;
    background: var(--ct-secundary);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.4rem;
    border-radius: 1rem;
    margin-top: 3.5rem;
}

.useful-contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
}

.service-scheduling {
    display: flex;
    gap: 5px;
}

.service-scheduling img {
    width: 32px;
    height: 32px;
}

.elevator-rental {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.how-to-get {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.useful-contacts h1 {
    font-size: 1.2rem;
}

.useful-contacts a {
    text-decoration: none;
    color: var(--ct-black);

    transition: all 200ms ease-in-out;
}

.useful-contacts a:hover {
    transform: translateY(-3px);
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(+100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

dialog {
    border: none;
    width: 30rem;
    background: var(--ct-secundary);
    border-radius: 1.4rem;

    margin: auto;
    padding: 1.4rem;

    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    animation: fade-in-fwd 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

dialog::backdrop {
    background: none;
}

dialog .icon {
    border-radius: 50%;
    background-color: #8094a8;
    padding: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.card-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.close-offer {
    display: flex;
    justify-content: end;
    padding: 1.4rem 1.4rem;
}

.card-offer img {
    max-width: 27.2rem;
    margin: auto;
    margin-top: -2.4rem;
}

.card-offer h1 {
    font-size: 1.6rem;
    color: var(--bg-footer);
    padding-top: 1.6rem;
    border-top: 1px solid #8094a8;
}

.prices-offer {
    font-size: 1.4rem;
}

.line-through{
    text-decoration: line-through;
}

.prices-offer h2 {
    font-size: 1.8rem;
    color: var(--bg-footer);
}

.card-offer a {
    text-decoration: none;
    padding: 1.4rem 0;
    text-align: center;
    color: var(--ct-secundary);
    background-color: var(--bg-buttons);

    border-radius: .5rem;

    transition: all 200ms ease-in-out;
}

@keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}

.machine-parts h1 {
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;

    padding-top: 5.5rem;
}

.parts-gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding-top: 3.5rem;
}

.parts-gallery-wrapper img {
    max-width: 33.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 1rem;
}

.cards-machine-parts {
    position: relative;
}

.cards-machine-parts span {
    position: absolute;
    padding: .7rem 1.2rem;
    background: var(--ct-cards);
    color: var(--ct-secundary);
    border-radius: .7rem;
    left: 1.4rem;
    top: 2.4rem;

    opacity: 0.9;
}

.gallery-cards-machine {
    display: flex;
    gap: 1.6rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.gallery-cards-machine::-webkit-scrollbar {
    display: none;
}

.machine-equipment-wrapper {
    background: var(--bg-secundary);
    padding-bottom: 5.5rem;
}

.cards-machine {
    width: 100%;
    height: 35rem;
    background: var(--ct-secundary);
    
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: .5rem;
    padding: 0 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    scroll-snap-align: center;
}

.cards-machine div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-machine ul {
    list-style-type: none;
    align-self: flex-start;
    padding-left: 2.4rem;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cards-machine ul li {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cards-machine h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--ct-black);
}

.cards-machine img {
    width: 241px;
    height: 190px;
    object-fit: contain;
    padding-bottom: 2.5rem;
    margin-top: .8rem;
}

.buy-whats-link {
    text-decoration: none;
    width: 100%;
    height: 4.3rem;
    background: var(--bg-buttons);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    margin-bottom: 1rem;
    border-radius: .5rem;

    transition: all 200ms ease-in-out;
}

.buy-whats-link p {
    text-decoration: none;
    color: var(--ct-secundary);
}

.outher-machines h1:nth-child(1) {
    font-size: 1.8rem;
    text-align: center;
    font-weight: normal;

    padding: 3.9rem 0 3.5rem;
}

.horizontal-cards-wrapper {
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.horizontal-cards-wrapper::-webkit-scrollbar {
    display: none;
}

.horizontal-card {
    width: 100%;
    height: 23rem;

    background: var(--ct-secundary);
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;

    scroll-snap-align: center;
}

.horizontal-card div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-card h2 {
    min-width: 20rem;

    font-size: 1.6rem;
    font-weight: 600;

    padding-bottom: 2.5rem;
}

.horizontal-card ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horizontal-card li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.horizontal-card img {
    max-width: 20.2rem;
    max-height: 12rem;
}

.whats-horizontal-card {
    width: 94%;
    height: 4.5rem;
    text-decoration: none;
    background: var(--bg-buttons);
    color: var(--ct-secundary);
    font-weight: 600;

    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: .5rem;

    transition: all 200ms ease-in-out;
}

.header-air {
    background: #17283A;

    border-radius: 2px 2px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 0;
}

.header-air h2 {
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--ct-secundary);
    text-transform: uppercase;
    padding-bottom: 1.6rem;
}

.header-air h1 {
    font-size: 2.1rem;
    color: var(--color-selection);
    text-transform: uppercase;
}

.body-air {
    background: #1D3248;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;

    border-radius:  0 0 2px 2px;
}

.air-benefits h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--ct-secundary);
    padding-bottom: 1.6rem;
}

.air-benefits svg {
    fill: var(--ct-secundary);
}

.ticket-air {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--ct-secundary);
    padding-bottom: 1.2rem;
}

.about-air h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-selection);
    padding: 2.1rem 0 1.6rem 0;
}

.about-air p {
    color: var(--ct-secundary);
    line-height: 2.1rem;
    text-align: justify;

    padding-bottom: 2.5rem;
}

.about-air a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1D3248;
    background: var(--ct-secundary);
    padding: .6rem 2.5rem;
}

.shop-informations-wrapper {
    padding: 6.5rem 0 3.5rem;
}

.shop-informations-wrapper h1:nth-child(1) {
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
}

.shop-informations {
    min-height: 8rem;
    background: var(--ct-secundary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3.5rem;
    border-radius: 1rem;
}

.ticket-shop {
    height: 6.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ticket-shop span {
    font-weight: bold;
}

.titles {
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;

    padding-bottom: 3.5rem;
}

.img-rubbershop {
    background: linear-gradient(91.94deg, #1D3248 0%, #142332 100%);
    min-height: 8.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    text-align: center;
    padding: 1rem;
    margin-bottom: 3.5rem;
}

.img-rubbershop h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--ct-secundary);
}

.img-rubbershop span:nth-child(1) {
    color: var(--color-selection);
}

.img-rubbershop span:nth-child(2) {
    background: var(--color-selection);
    color: var(--bg-primary);
    width: 23rem;
    height: 4.1rem;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rubbershop-benefits {
    padding-top: 6.5rem;
}

.rubbershop-informations {
    min-height: 8rem;

    background: var(--ct-secundary);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5.4rem;
}

.tires-wrapper {
    min-height: 13rem;

    display: grid;
    align-items: center;

    position: relative;
    margin-bottom: 3.4rem;
}

.tires-wrapper img {
    position: absolute;
    left: .4rem;
    bottom: 0;
}

.tires-container {
    width: 100%;
    height: 12rem;
    padding: 1.6rem;
    background: var(--ct-secundary);

    display: grid;
    border-radius: 1rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.tires-container h1 {
    font-size: 1.8rem;
    font-weight: normal;

    padding: 0 0 1.4rem 10rem;
}

.tires-gallery {
    display: flex;
    gap: 1.4rem;

    padding-left: 10rem;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
}

.tires-gallery::-webkit-scrollbar {
    display: none;
}

.card-tire {
    background: var(--bg-secundary);

    padding: 0 1.2rem;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;

    scroll-snap-align: center;
}

.info-card-rubber {
    width: 17rem;
    height: 6.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.rubbershop-wrapper {
    background: var(--bg-secundary);
    padding-bottom: 6.5rem;
}

.gallery-cards-rubbershop {
    display: flex;
    gap: 1.6rem;

    overflow-x: auto;

    scroll-snap-type: x mandatory;
}

.gallery-cards-rubbershop::-webkit-scrollbar {
    display: none;
}

.cards-rubbershop {
    width: 100%;
    background: var(--bg-cards);

    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: .5rem;
    scroll-snap-align: center;
}

.cards-rubbershop img {
    width: 19rem;
}

.cards-rubbershop h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--ct-black);
    text-align: center;

    padding-bottom: 1.2rem;
}

.whats-rubbershop-wrapper {
    text-decoration: none;
}

.swiper-container {
    padding-top: 5.5rem;
}

.swiper {
    width: 100%;
    height: 240px;
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
}

picture img {
    width: 100%;
}

.whats-rubbershop-link {
    width: 29rem;
    height: 5rem;
    background: var(--bg-buttons);
    color: var(--ct-secundary);

    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    margin: 4.5rem auto 0;
    border-radius: .5rem;

    transition: all 200ms ease-in-out;
}

.slides img {
    width: 100%;
}

.partners-wrapper {
    background: var(--bg-secundary);
    color: var(--ct-primary);

    padding-bottom: 7.5rem;
}

.partners h1:nth-child(1) {
    font-size: 1.8rem;
    font-weight: normal;
    color: var(--ct-black);
    text-align: center;
    padding: 0 0 4.5rem;
}

.gallery-cards-partners {
    display: flex;
    gap: 3.4rem;
    flex-wrap: wrap;
    justify-content: center;

    overflow-x: auto;
}

.cards-partners {
    width: 17rem;

    background: var(--bg-primary);
    color: var(--ct-secundary);
    border-radius: 5px;

    padding: .7rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-partners img {
    width: 10rem;
}

.cards-partners h1 {
    font-size: 1.6rem;
}

.maps-wrapper {
    background: var(--bg-secundary);
    text-align: center;

    padding: 4.5rem 0;
}

.maps-wrapper h1 {
    font-size: 1.8rem;
    color: var(--ct-primary);

    padding-bottom: 3.5rem;
}

.maps {
    width: 95%;
    margin: auto;
}

iframe {
    width: 100%;
    height: 30rem;
}

footer {
    background: var(--bg-footer);
    color: var(--ct-secundary);

    padding: 4rem 0;
}

footer h1:nth-child(1) {
    font-size: 1.8rem;
}

.social-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 5.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.cnpj-footer {
    font-size: 1.4rem;
}

.info-location-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.5rem;
}

.info-location-footer {
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.move-to-top {
    width: 5.7rem;
    height: 5.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0F1924;
    border-radius: 3px;
    cursor: pointer;
}

.info-legal-wrapper {
    border-top: .5px solid #2B4A69;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-legal-wrapper p:nth-child(1) {
    max-width: 52rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem 0 3.5rem;
}

.info-legal-wrapper p:nth-child(2) {
    font-size: 1.2rem;
    text-align: center;
}

.btn-whatsapp {
    width: 65px;
    height: 65px;
    cursor: pointer;

    background: #04d361;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 1.6rem;
    bottom: 1.8rem;

    transition: all 200ms ease-in-out;
}

.btn-whatsapp:hover {
    transform: scale(1.05);
}

.animation {
    animation: vibrate-1 400ms infinite ease-in-out;
}

@keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
}

@media(min-width: 375px) {
    .page {
        width: 360px;
    }
}

@media(min-width: 414px) {
    .page {
        width: 390px;
    }

    .useful-contacts {
        padding: 2.4rem;
    }
}

@media(min-width: 425px) {
    .page {
        min-width: 400px;
    }

    .img-about-wrapper {
        text-align: center;
    }
}

@media(min-width: 460px) {
    .page {
        width: 420px;
    }

    .cards-gallery-wrapper {
        width: 95%;
    }
}

@media(min-width: 520px) {
    .page {
        width: 500px;
    }

    .ticket-shop:nth-child(2) {
        border: none;
    }
}

@media(min-width: 700px) {
    .page {
        width: 670px;
    }

    #sub-header {
        display: none;
    }

    .hamburguer {
        display: none;
    }

    .menu-desktop {
        display: flex;
        gap: 3rem;
    }

    .menu-desktop li {
        list-style-type: none;
    }

    .menu-desktop a {
        text-decoration: none;
        color: var(--ct-secundary);
    }

    .menu-contact {
        display: none;
    }

    .btn-products-menu {
        display: block;
    }

    dialog {
        top: 20%;
        width: 45rem;
        padding: 1rem 1.6rem 2.4rem;
    }

    .card-offer h1 {
        padding-left: 2rem;
    }

    .prices-offer {
        padding-left: 2rem;
    }

    .useful-contacts {
        padding: 0;
    }

    .cards-container {
        max-width: 690px;
        margin: auto;
    }

    .header-air {
        height: 6.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .header-air h2 {
        padding: 0;
        font-size: 1.6rem;
    }

    .body-air {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-air {
        max-width: 30rem;
    }

    .about-air h1 {
        padding-top: 0;
    }

    .about-air a:hover {
        background: #dddddd;
    }
    
    .img-rubbershop {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .shop-informations {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .info-card-rubber {
        justify-content: center;
    }

    .rubbershop-informations {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media(min-width: 1024px) {
    .page {
        width: 924px;
    }

    .useful-contacts-wrapper {
        gap: 4.4rem;
    }

    .tires-wrapper img {
        left: 2.4rem;
    }

    .tires-container h1 {
        padding: 0 0 1.4rem 13rem
    }

    .tires-gallery {
        padding-left: 13rem;
    }

}

@media(min-width: 1100px) {
    .page {
        width: 1024px;
    }

    .menu-desktop {
        gap: 5rem;
    }

    .useful-contacts-wrapper {
        gap: 7.4rem;
    }

    ul a {
        transition: all 200ms ease-in-out;
    }

    ul a:hover {
        filter: opacity(0.5);
    }

    .products-menu-link:hover {
        background: var(--bg-secundary);
        color: var(--bg-primary);
        border: 1px solid var(--bg-primary);
    }

    .menu {
        width: 27.4rem;
        background: transparent;
        flex-direction: row;
        top: 85px;
        left: 39%;
    }

    .menu-contact {
        display: none;
    }

    .cards-machine {
        padding: 0;
    }

    .cards-container {
        max-width: 1100px;
        padding-top: 0;
    }

    .cards-gallery-wrapper {
        width: 1017px;
    }

    .shop-informations-wrapper h1:nth-child(1) {
        font-size: 2.1rem;
        text-align: left;
    }

    .shop-informations {
        justify-content: space-evenly;
    }

    .machine-equipment h1:nth-child(1) {
        font-size: 2.1rem;
    }

    .buy-whats-link {
        width: 94%;
    }

    .buy-whats-link:hover {
        background: #1f354d;
    }

    .outher-machines h1:nth-child(1) {
        text-align: left;
    }

    .horizontal-card {
        max-width: 33.1rem;
    }

    .horizontal-card h2 {
        min-width: 100%;
    }

    .whats-horizontal-card:hover {
        background: #1f354d;
    }

    .gallery-cards-machine {
        display: grid;
        grid-template-areas: "A B C D" "E F G H" "I J K L";
        grid-row-gap: 2.1rem;
        justify-items: center;
    }

    .parts-gallery-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1.6rem;
    }

    .machine-parts h1 {
        font-size: 2.1rem;
        text-align: left;
    }

    .titles {
        font-size: 2.1rem;
        text-align: left;
    }

    .tires-gallery {
        gap: 1.8rem;
    }

    .img-rubbershop h1 {
        font-size: 2.1rem;
    }

    .gallery-cards-rubbershop {
        display: grid;
        grid-template-areas: "A B C D E" "F G H I J";
    }

    .whats-rubbershop-link {
        width: 34rem;
    }

    .whats-rubbershop-link:hover {
        background: #1f354d;
    }

    .partners h1:nth-child(1) {
        font-size: 2.1rem;
    }

    .gallery-cards-partners {
        gap: 5.5rem;
    }

    iframe {
        height: 45rem;
    }

    footer h1:nth-child(1) {
        font-size: 2.1rem;
    }

    .info-location-footer {
        font-size: 1.6rem;
    }

    .info-legal-wrapper p:nth-child(1) {
        font-size: 1.6rem;
        width: 60rem;
    }

    .info-legal-wrapper p:nth-child(2) {
        font-size: 1.4rem;
    }
}