:root {
    --bg-primary: #1D3248;
    --bg-secundary: #F5F5F5;
    --bg-buttons: #2C4C6E;
    --bg-hover: #DE3C4B;

    --ct-black: #000000;
    --ct-primary: #1D3248;
    --ct-secundary: #F5F5F5;

    --color-selection: #FFA630;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.6rem;
    font-family: 'Exo 2', sans-serif;
}

.page {
    width: 320px;
    margin: auto;
}

#hidden {
    display: none;
}

.hidden {
    display: none;
}

.sub-header-wrapper {
    display: grid;
    justify-content: end;
}

#sub-header {
    background: var(--bg-secundary);
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.products-menu-link {
    text-decoration: none;
    padding: 11px 14px;
    background: var(--bg-primary);
    color: var(--ct-secundary);

    font-weight: 500;

    border-radius: 100px;

    transition: all .3s ease-in-out;
}

header {
    background: var(--bg-secundary);
    height: 7.5rem;

    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav img {
    height: 3.4rem;
}

.btn-hamburguer, .btn-close {
    background: var(--bg-primary);
    color: var(--bg-secundary);

    font-weight: normal;
    text-align: center;

    padding: 7.5px 12px;
    border-radius: 100px;
}

.btn-close {
    background: var(--bg-secundary);
    border: 1.5px solid var(--bg-primary);
    color: var(--bg-primary);
    font-weight: 600;
}

.hamburguer-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.close-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.btn-products-menu {
    display: none;
}

.menu-desktop {
    display: none;
}

.menu {
    width: 100vw;

    background: var(--bg-secundary);

    position: absolute;
    top: 130px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 35px;

    text-align: center;
    margin: auto;

    animation: toLeft 670ms ease-in-out;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--ct-primary);

    margin-top: 3.5rem;

    font-weight: 600;
}

.menu-contact {
    background: var(--bg-primary);
    color: var(--ct-secundary);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 35px 0;
    border-bottom: 1px solid #17283a;
    border-radius: 10px 10px 0 0;
}

.menu-contact h1 {
    font-size: 1.6rem;
    font-weight: 600;

    padding-bottom: 3px;
}

.menu-contact p {
    padding-bottom: 30px;
    font-weight: normal;
}

.menu-contact a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;

    color: var(--ct-secundary);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about-wrapper {
    background: var(--bg-primary);
    color: var(--ct-secundary);
}

.about-wrapper h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;

    padding-top: 3.5rem;
}

.location-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: 3.5rem 0;
}

.location-about p {
    font-size: 1.4rem;
}

.about-wrapper img {
    width: 320px;
    height: 178px;

    text-align: center;
    margin-bottom: 2.5rem;
}


@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(+100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.services-wrapper {
    background: var(--bg-primary);
    height: 250px;
}

.services-wrapper-link svg {
    display: none;
}

.title-services {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3.5rem;
}

.title-services h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--ct-secundary);
}

.title-services a {
    text-decoration: none;
    font-weight: bold;
    color: var(--bg-primary);
    background: var(--ct-secundary);

    padding: 1.2rem 3rem;
}






@media(min-width: 425px) {
    .page {
        min-width: 400px;
    }

    .img-about-wrapper {
        text-align: center;
    }
}

@media(min-width: 700px) {
    .page {
        width: 680px;
    }

    #sub-header {
        display: none;
    }

    .hamburguer {
        display: none;
    }

    .menu-desktop {
        display: flex;
        gap: 3rem;
    }

    .menu-desktop li {
        list-style-type: none;
    }

    .menu-desktop a {
        text-decoration: none;
        color: var(--bg-primary);
        font-weight: 600;
    }

    .menu-contact {
        display: none;
    }

    .btn-products-menu {
        display: block;
    }

    .about {
        display: flex;
        justify-content: space-between;

        padding-top: 3.5rem;
    }

    .about h1 {
        font-size: 2.2rem;
        text-align: left;
    }

    .location-about {
        justify-content: left;
    }

    .services {
        padding-top: 3.5rem;
    }

    .title-services {
        flex-direction: row;
        justify-content: space-between;
    }

    .title-services h1 {
        font-weight: normal;
    }

    .title-services a {
        font-weight: normal;
        padding: 0;
        background: var(--bg-primary);
        color: var(--ct-secundary);
        justify-content: space-between;
    }

    .services-wrapper-link {
        display: flex;
        align-items: flex-end;
        gap: 5px;
    }
    
}

@media(min-width: 1100px) {
    .page {
        width: 1000px;
    }

    .about h1 {
        font-size: 2.8rem;
    }

    .about img {
        width: 39rem;
        height: 23rem;
    }

    .text-about-wrapper {
        max-width: 50rem;
    }

    .title-services h1 {
        font-size: 2.13rem;
    }

    ul a:hover {
        color: var(--bg-hover);
    }

    .products-menu-link:hover {
        background: var(--bg-hover);
    }

    .menu {
        width: 27.4rem;
        background: transparent;
        flex-direction: row;
        top: 85px;
        left: 39%;
    }

    .menu-contact {
        display: none;
    }
}