:root {
    --bg-primary: #1D3248;
    --bg-secundary: #F5F5F5;
    --bg-buttons: #2C4C6E;

    --ct-black: #000000;
    --ct-primary: #1D3248;
    --ct-secundary: #F5F5F5;

    --color-selection: #FFA630;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1.6rem;
    font-family: 'Exo 2', sans-serif;
}

.page {
    width: 320px;
    margin: auto;
}

#hidden {
    display: none;
}

.hidden {
    display: none;
}

.sub-header-wrapper {
    display: grid;
    justify-content: end;
}

#sub-header {
    background: var(--bg-secundary);
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#sub-header a {
    text-decoration: none;
    padding: 10px;
    background: var(--bg-primary);
    color: var(--ct-secundary);

    font-weight: 500;

    border-radius: 100px;
}

header {
    background: var(--bg-secundary);
    height: 7.5rem;

    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.btn-hamburguer, .btn-close {
    background: var(--bg-primary);
    color: var(--bg-secundary);

    font-weight: normal;
    text-align: center;

    padding: 6.7px 9px;
    border-radius: 100px;
}

.hamburguer-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.close-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3px;
}

.menu {
    width: 100vw;

    background: var(--bg-secundary);

    position: absolute;
    top: 130px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 35px;

    text-align: center;
    margin: auto;

    animation: toLeft 670ms ease-in-out;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--ct-primary);

    margin-top: 3.5rem;

    font-weight: 600;
}

.menu-contact {
    background: var(--bg-primary);
    color: var(--ct-secundary);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 35px 0;
    border-bottom: 1px solid #17283a;
    border-radius: 10px 10px 0 0;
}

.menu-contact h1 {
    font-size: 1.6rem;
    font-weight: 600;

    padding-bottom: 3px;
}

.menu-contact p {
    padding-bottom: 30px;
    font-weight: normal;
}

.menu-contact a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: normal;

    color: var(--ct-secundary);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about-wrapper {
    background: var(--bg-primary);
    color: var(--ct-secundary);
}

.about-wrapper h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;

    padding-top: 3.5rem;
}

.location-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: 3.5rem 0;
}

.location-about p {
    font-size: 1.4rem;
}

.about-wrapper img {
    width: 320px;
    height: 178px;

    text-align: center;
    margin-bottom: 2.5rem;
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(+100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.services-wrapper {
    background: var(--bg-primary);
    height: 250px;
}

.title-services {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3.5rem;
}

.title-services h1 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--ct-secundary);
}

.title-services a {
    text-decoration: none;
    font-weight: bold;
    color: var(--bg-primary);
    background: var(--ct-secundary);

    padding: 1.2rem 3rem;
}